<section class="w-100 vh-100 d-flex flex-column justify-content-between">
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-start align-items-center">
      <img src="../../../assets/icons/label.svg" alt="label" />
      <h1 class="m-0">{{ label }}</h1>
    </div>
    <div>
      <mat-list role="list">
        <mat-list-item
          routerLink="/{{ menuOption.toLowerCase() }}"
          *ngFor="let menuOption of menuOptions"
          role="listitem"
          ><a routerLink="/cards" routerLinkActive="active-link">{{
            menuOption
          }}</a></mat-list-item
        >
      </mat-list>
    </div>
  </div>

  <div class="footer">
    <mat-divider></mat-divider>
    <mat-list role="list">
      <mat-list-item
        routerLink="/{{ footerOption.option.toLowerCase() }}"
        *ngFor="let footerOption of footerOptions"
        role="listitem"
      >
        <img src="{{ footerOption.optionImage }}" />
        {{ footerOption.option }}</mat-list-item
      >
    </mat-list>
  </div>
</section>
